@import "tailwindcss";

/* Enable dark mode using the `class` strategy */
@custom-variant dark (&:where(.dark, .dark *));

/* Define your CSS variable-based theme */
@theme {
  --color-link: var(--link_color);
  --color-text: var(--text_color);
  --color-accent: var(--accent_color);
  --color-border: var(--border_color);
  --color-button: var(--button_color);
  --color-surface: var(--surface_color);
  --color-background: var(--background_color);
  --color-button-text: var(--button_text_color);
}
